#root {
  --color-1: #060121;
  --color-2: #060121;
  --color-3: #060121;
  --color-1: #060121;
  --color-2: #060121;
  --color-3: #060121;
  --color-1: #060121;
  --color-4: #060121;
}

nav {
  position: relative;
  z-index: 10;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  box-shadow: 0 0 30px rgba(0, 163, 132, 0.3);
}

nav figure {
  width: 140px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  z-index: 2;
}

nav ul li {
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

nav ul li a {
  display: inline-block;
  padding: 0.6em 1em;
  text-decoration: none;
  color: #dcdcdc;
}

nav ul li::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  background: #060121;
  opacity: 0;
  transform: scale(0);
  transition: all 0.3s ease;
  z-index: -1;
}

nav ul li.active::after {
  opacity: 1;
  transform: scale(1);
}

nav .effect {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  opacity: 1;
  pointer-events: none;
  display: grid;
  place-items: center;
  z-index: 1;
}

.particle,
.point {
  display: block;
  opacity: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  transform-origin: center;
}

.particle {
  --time: 5s;
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  animation: particle calc(var(--time)) ease 1 -350ms;
}

.point {
  background: var(--color);
  opacity: 1;
  animation: point calc(var(--time)) ease 1 -350ms;
}

@keyframes particle {
  0% {
    transform: rotate(0deg)
      translate(calc(var(--start-x)), calc(var(--start-y)));
    opacity: 1;
    animation-timing-function: cubic-bezier(0.55, 0, 1, 0.45);
  }

  70% {
    transform: rotate(calc(var(--rotate) * 0.5))
      translate(calc(var(--end-x) * 1.2), calc(var(--end-y) * 1.2));
    opacity: 1;
    animation-timing-function: ease;
  }

  85% {
    transform: rotate(calc(var(--rotate) * 0.66))
      translate(calc(var(--end-x)), calc(var(--end-y)));
    opacity: 1;
  }

  100% {
    transform: rotate(calc(var(--rotate) * 1.2))
      translate(calc(var(--end-x) * 0.5), calc(var(--end-y) * 0.5));
    opacity: 1;
  }
}

@media (max-width: 960px) and (orientation: landscape) {
  nav figure {
    width: 80px;
  }
}
