#root {
  --color-1: #00a384;
  --color-2: #00a384;
  --color-3: #00a384;
  --color-1: #00a384;
  --color-2: #00a384;
  --color-3: #00a384;
  --color-1: #00a384;
  --color-4: #00a384;
}

nav {
  position: fixed;
  top: 2%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 95%;
  z-index: 10;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 30px rgba(0, 163, 132, 0.3);
}

nav figure {
  width: 140px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  list-style: none;
}

nav ul li {
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

nav ul li a {
  display: inline-block;
  padding: 0.6em 1em;
  text-decoration: none;
  /* color: #dcdcdc; */
}

nav ul li::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  background: #00a384;
  opacity: 0;
  transform: scale(0);
  transition: all 0.3s ease;
  z-index: -1;
}

nav ul li.active::after {
  opacity: 1;
  transform: scale(1);
}

nav .effect {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  opacity: 1;
  color: transparent;
  pointer-events: none;
  display: grid;
  place-items: center;
  z-index: 1;
}

.particle,
.point {
  display: block;
  opacity: 0;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  transform-origin: center;
}

.particle {
  --time: 5s;
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  animation: particle calc(var(--time)) ease 1 -350ms;
}

.point {
  background: var(--color);
  opacity: 1;
  animation: point calc(var(--time)) ease 1 -350ms;
}

@keyframes particle {
  0% {
    transform: rotate(0deg)
      translate(calc(var(--start-x)), calc(var(--start-y)));
    opacity: 1;
    animation-timing-function: cubic-bezier(0.55, 0, 1, 0.45);
  }

  70% {
    transform: rotate(calc(var(--rotate) * 0.5))
      translate(calc(var(--end-x) * 1.2), calc(var(--end-y) * 1.2));
    opacity: 1;
    animation-timing-function: ease;
  }

  85% {
    transform: rotate(calc(var(--rotate) * 0.66))
      translate(calc(var(--end-x)), calc(var(--end-y)));
    opacity: 1;
  }

  100% {
    transform: rotate(calc(var(--rotate) * 1.2))
      translate(calc(var(--end-x) * 0.5), calc(var(--end-y) * 0.5));
    opacity: 1;
  }
}

nav .burger-menu {
  display: none;
}

nav ul .sidebar-logo {
  display: none;
}

@media (max-width: 1300px) and (orientation: landscape) {
  nav figure {
    width: 100px;
  }
}

@media (max-width: 850px) and (orientation: portrait) {
  #root {
    --color-1: #00a384;
    --color-2: #00a384;
    --color-3: #00a384;
    --color-1: #00a384;
    --color-2: #00a384;
    --color-3: #00a384;
    --color-1: #00a384;
    --color-4: #00a384;
  }

  nav figure {
    width: 120px;
  }

  .right-section {
    display: flex;
    align-items: center;
    gap: 2em;
  }

  nav .burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 11;
  }

  nav .burger-menu .hix {
    position: absolute;
    top: -20%;
    right: -3%;
  }

  nav {
    backdrop-filter: none;
  }

  nav::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: -1;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  nav ul .sidebar-logo {
    display: block;
    width: 80%;
  }

  nav ul {
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    transition: right 0.4s ease-in-out;
  }

  html[data-bs-theme="light"] nav ul {
    background: #dcdcdc;
  }

  html[data-bs-theme="dark"] nav ul {
    background: #060121;
  }

  nav ul.active {
    right: 0;
  }

  .particle,
  .point {
    display: none;
  }
}

@media (max-width: 960px) and (orientation: landscape) {
  nav figure {
    width: 60px;
  }

  .particle,
  .point {
    width: 10px;
    height: 10px;
  }
}

@media (max-width: 450px) and (orientation: portrait) {
  nav figure {
    width: 100px;
  }
}

@media (max-width: 320px) and (orientation: portrait) {
  nav figure {
    width: 60px;
  }
}
