.services {
  height: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1300px) and (orientation: landscape) {
  .services {
    height: 85vw;
  }
}

@media (max-width: 850px) and (orientation: portrait) {
  .services {
    height: 120vw;
  }
}

@media (max-width: 450px) and (orientation: portrait) {
  .services {
    height: 150vw;
  }
}

@media (max-width: 320px) and (orientation: portrait) {
  .services {
    height: 120vw;
  }
}