.highlights {
  height: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 850px) and (orientation: portrait) {
  .highlights {
    height: 80vw;
  }
}

@media (max-width: 450px) and (orientation: portrait) {
  .highlights {
    height: 110vw;
  }
}
