.text-warning {
  color: #ffc107;
}

.text-secondary {
  color: #888888;
}

.submit-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  width: 50%;
  border: 15px ridge #00a384;
  background: linear-gradient(
    to left top,
    rgba(0, 163, 132, 0.6),
    rgba(6, 1, 33, 0),
    rgba(0, 163, 132, 0.6)
  );
  border-radius: 30px;
}

.form-group-upload-pic {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3em;
}

.profile-wrapper {
  position: relative;
}

.avatar-container {
  position: relative;
  width: 200px;
  height: 200px;
}

.profile-img,
.placeholder {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 5px ridge #00a384;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
}

html[data-bs-theme="dark"] .profile-img,
html[data-bs-theme="dark"] .placeholder {
  background: #ddd !important;
  color: #060121 !important;
}

html[data-bs-theme="light"] .profile-img,
html[data-bs-theme="light"] .placeholder {
  background: #060121 !important;
  color: #ddd !important;
}

.camera-icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px ridge #00a384;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

html[data-bs-theme="dark"] .camera-icon {
  background: #ddd !important;
  color: #060121 !important;
}

html[data-bs-theme="light"] .camera-icon {
  background: #060121 !important;
  color: #ddd !important;
}

.camera-svg {
  width: 24px;
  height: 24px;
}

.file-input {
  display: none;
}

.profile-label {
  text-align: center;
  display: block;
  font-size: 2.2rem;
}

.editor-modal {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  z-index: 999;
  text-align: center;
  border: 15px ridge #00a384;
}

.cropper-container {
  position: relative;
  /* width: 100%; */
  background: #333;
  border-radius: 10px;
  overflow: hidden;
  max-width: 300px;
  max-height: 300px;
}

.crop-slider {
  width: 100%;
  margin: 15px 0;
}

.btn-save,
.btn-cancel {
  padding: 8px 12px;
  margin: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

.btn-save {
  background-color: #40ffaa;
}

.btn-cancel {
  background-color: #ff4040;
  color: white;
}

.form-group {
  position: relative;
  margin: 6em 0em;
  width: 90%;
}

.form-group label {
  font-size: 2.2rem;
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;
  pointer-events: none;
  color: #6c757d;
}

.form-group input:focus ~ label,
.form-group input:not(:placeholder-shown) ~ label {
  top: -0.8rem;
  left: 1rem;
  font-size: 2rem;
  height: 25px;
  padding: 0 0.5rem;
  color: #00a384;
}

.form-group input:focus {
  border-bottom: 2px solid #00a384;
}

.form-group input {
  border-bottom: 2px solid #6c757d;
  border-radius: 30px;
  padding: 0.5em 0.8em;
  display: block;
  width: 100%;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

.ratting-label {
  text-align: center;
  display: block;
  font-size: 2.2rem;
  margin-bottom: 0.5em;
}

.stars-container {
  display: flex;
  column-gap: 0.5em;
}

.form-group textarea {
  border: 2px solid #6c757d;
  padding: 0.5em 0.8em;
  display: block;
  width: 100%;
  height: 150px;
  background: transparent;
  border-top: none;
  outline: none;
}

.form-group textarea:focus ~ label,
.form-group textarea:not(:placeholder-shown) ~ label {
  top: -0.8rem;
  left: 1rem;
  font-size: 2rem;
  height: 25px;
  padding: 0 0.5rem;
  color: #00a384;
}

.form-group textarea:focus {
  border: 2px solid #00a384;
  border-top: none;
}

.submit-btn {
  display: block;
  width: 50%;
  background: transparent;
  border: none;
  margin-bottom: 1em;
}

.submit-btn .shiny-button-text {
  width: 100%;
  border-radius: 10px;
}

.submit-btn .shiny-button-text .shine-text {
  font-size: 2rem;
}

.message-box {
  padding: 2em 2em;
  border-radius: 5px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 500px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-box-center-part {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 2em;
}

.message-box-close-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

@media (max-width: 850px) and (orientation: portrait) {
  .submit-review {
    width: 80%;
  }

  .avatar-container {
    width: 250px;
    height: 250px;
  }

  .camera-icon {
    bottom: 11px;
    right: 11px;
  }
}

@media (max-width: 960px) and (orientation: landscape) {
  .submit-review {
    width: 40%;
  }

  .avatar-container {
    width: 140px;
    height: 140px;
  }

  .camera-icon {
    bottom: 6px;
    right: 6px;
    width: 35px;
    height: 35px;
  }

  .editor-modal {
    width: 50%;
  }

  .cropper-container {
    max-width: 300px;
    max-height: 300px;
  }

  .form-group textarea {
    height: 100px;
  }
}

@media (max-width: 450px) and (orientation: portrait) {
  .submit-review {
    width: 90%;
  }

  .avatar-container {
    width: 160px;
    height: 160px;
  }

  .camera-icon {
    bottom: 6px;
    right: 6px;
    width: 45px;
    height: 45px;
  }

  .form-group textarea {
    height: 100px;
  }
}
