.about {
  position: relative;
  width: 100%;
  height: 100vh;
}

.about .about-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.about .about-content .container {
  width: 100%;
  height: 86%;
  display: flex;
}

.about .about-content .container .profile-card {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about .about-content .container .story {
  width: 50%;
  height: 100%;
  padding: 0em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #dcdcdc;
}

@media (max-width: 850px) and (orientation: portrait) {
  .about {
    height: 100vh;
  }

  .about .about-content .container {
    flex-direction: column;
  }

  .about .about-content .container .profile-card {
    width: 100%;
    height: 50%;
    justify-content: start;
  }

  .about .about-content .container .story {
    font-size: 2rem;
    padding: 0em 1em;
    width: 100%;
  }
}

@media (max-width: 960px) and (orientation: landscape) {
  .about .about-content .container {
    height: 76%;
  }

  .about .about-content .container .story {
    padding: 0em 1em;
  }
}

@media (max-width: 450px) and (orientation: portrait) {
  .about {
    height: 90vh;
  }
}

@media (max-width: 320px) and (orientation: portrait) {
  .about .about-content .container .story {
    font-size: 2.5rem;
  }
}
