.Resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ai {
  font-size: 12rem;
}

@media (max-width: 850px) and (orientation: portrait) {
  .ai {
    font-size: 6rem;
  }
}
