.desktop-highlights-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 4em;
  width: 22vw;
  border-radius: 30px;
  border: 15px ridge #00a384;
  background: linear-gradient(
    to left top,
    rgba(0, 163, 132, 0.6),
    rgba(6, 1, 33, 0),
    rgba(0, 163, 132, 0.6)
  );
  height: 20vw;
}

.mobile-highlights-item {
  position: relative;
  display: flex;
  flex-shrink: 0;
  width: 280px;
  flex-direction: column;
  row-gap: 3em;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 15px ridge #00a384;
  background: linear-gradient(
    to left top,
    rgba(0, 163, 132, 0.6),
    rgba(6, 1, 33, 0),
    rgba(0, 163, 132, 0.6)
  );
  height: 26vw;
  cursor: grab;
}

.mobile-highlights-item:active {
  cursor: grabbing;
}

.highlights-icon-container {
  display: flex;
  height: 6vw;
  width: 6vw;
  background: #00a384;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 5rem;
}

.highlights-item-title {
  margin-bottom: 4px;
  font-weight: 900;
  text-align: center;
}

.count-up {
  font-weight: 800;
  background: linear-gradient(180deg, #fff, #fff);
  background-clip: text;
  color: #fff;
  text-shadow: 0px 0px 0px rgba(0, 163, 133, 0.8),
    3px 3px 0px rgba(0, 163, 133, 0.8);
}

@media (max-width: 1300px) and (orientation: landscape) {
  .desktop-highlights-item {
    border: 12px ridge #00a384;
    width: 20vw;
  }
}

@media (max-width: 850px) and (orientation: portrait) {
  .desktop-highlights-item {
    width: 335px;
    height: 40vw;
    row-gap: 2em;
  }

  .highlights-icon-container {
    height: 12vw;
    width: 12vw;
  }

  .highlights-item-title {
    margin-bottom: 4px;
    font-weight: 900;
    text-align: center;
  }

  .count-up {
    font-weight: 800;
    background: linear-gradient(180deg, #fff, #fff);
    background-clip: text;
    color: #fff;
    text-shadow: 0px 0px 0px rgba(0, 163, 133, 0.8),
      3px 3px 0px rgba(0, 163, 133, 0.8);
  }
}

@media (max-width: 960px) and (orientation: landscape) {
  .desktop-highlights-item {
    border: 8px ridge #00a384;
  }

  .highlights-icon-container {
    height: 5vw;
    width: 5vw;
  }
}

@media (max-width: 450px) and (orientation: portrait) {
  .mobile-highlights-item {
    border: 10px ridge #00a384;
    width: 250px;
    height: 60vw;
  }

  .highlights-icon-container {
    height: 18vw;
    width: 18vw;
  }
}

@media (max-width: 600px) and (orientation: landscape) {
  .desktop-highlights-item {
    width: 110px;
    border-radius: 20px;
  }

  .highlights-icon-container {
    height: 6vw;
    width: 6vw;
  }

  .count-up {
    text-shadow: 0px 0px 0px rgba(0, 163, 133, 0.8),
      2px 2px 0px rgba(0, 163, 133, 0.8);
  }
}

@media (max-width: 320px) and (orientation: portrait) {
  .mobile-highlights-item {
    width: 200px;
    height: 55vw;
  }

  .highlights-icon-container {
    height: 15vw;
    width: 15vw;
  }
}
