.desktop-services-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 4em;
  width: 29vw;
  height: 32vw;
  border-radius: 30px;
  border: 15px ridge #00a384;
  background: linear-gradient(
    to left top,
    rgba(0, 163, 132, 0.6),
    rgba(6, 1, 33, 0),
    rgba(0, 163, 132, 0.6)
  );
  padding: 4em;
}

.mobile-services-item {
  position: relative;
  display: flex;
  flex-shrink: 0;
  width: 280px;
  flex-direction: column;
  row-gap: 3em;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 15px ridge #00a384;
  background: linear-gradient(
    to left top,
    rgba(0, 163, 132, 0.6),
    rgba(6, 1, 33, 0),
    rgba(0, 163, 132, 0.6)
  );
  height: 50vh;
  cursor: grab;
  padding: 6em;
}

.mobile-services-item:active {
  cursor: grabbing;
}

.services-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8rem;
  color: #00a384;
}

.services-item-title {
  margin-bottom: 4px;
  font-weight: 500;
  text-align: center;
  text-align: center;
}

.services-item-description {
  text-align: center;
}

@media (max-width: 1300px) and (orientation: landscape) {
  .desktop-services-item {
    border: 12px ridge #00a384;
    height: 50vh;
  }
}

@media (max-width: 850px) and (orientation: portrait) {
  .desktop-services-item {
    width: 335px;
    height: 60vw;
    padding: 1em;
    row-gap: 2em;
  }
  .services-icon-container {
    font-size: 6rem;
  }

  .services-item-title {
    font-size: 2.4rem !important;
  }

  .services-item-description {
    font-size: 1.2rem !important;
  }
}

@media (max-width: 960px) and (orientation: landscape) {
  .desktop-services-item {
    width: 28vw;
    height: 28vw;
    padding: 8em;
    border: 8px ridge #00a384;
  }

  .services-item-title {
    font-size: 3.6rem !important;
  }

  .services-item-description {
    font-size: 1.8rem !important;
  }
}

@media (max-width: 450px) and (orientation: portrait) {
  .mobile-services-item {
    width: 250px;
    height: 100vw;
    padding: 3em;
    border: 10px ridge #00a384;
  }

  .services-item-title {
    font-size: 3rem !important;
  }

  .services-item-description {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 600px) and (orientation: landscape) {
  .desktop-services-item {
    border-radius: 20px;
    width: 27vw;
    height: 35vw;
    border: 8px ridge #00a384;
  }
}

@media (max-width: 320px) and (orientation: portrait) {
  .mobile-services-item {
    width: 200px;
    height: 70vw;
    padding: 10em;
    border: 8px ridge #00a384;
  }
}
