/* Header Styling */
header {
  width: 100%;
  height: 100vh;
  background: #060121;
  position: relative;
  overflow: hidden;
  border: 15px double #00a384;
}
/* Header Gradient Styling */
header .header-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 6;
  background: #060121;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(6, 1, 33, 0.6);
  z-index: 7;
}

/* Header Design Styling */
header .header-design {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 8;
}

header .header-design .shape {
  width: 100%;
  height: 100%;
  background: rgba(0, 163, 133, 0.6);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  animation: header-design-animation 2s forwards;
}

@keyframes header-design-animation {
  from {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 50%, 0 0);
  }

  to {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 20% 50%, 0 0);
  }
}

/* Svg Animation Styling */
header .svg-animation {
  position: absolute;
  top: 0;
  right: 0;
  width: 85%;
  height: 100%;
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .svg-animation svg {
  float: right;
  width: 100%;
  height: 100%;
}

header .svg-animation svg .st0,
header .svg-animation svg .st1,
header .svg-animation svg .st2 {
  fill: none;
  stroke: #060121;
  stroke-width: 42;
  stroke-miterlimit: 10;
}

header .svg-animation svg .st0 {
  stroke-dasharray: 12.1947, 12.1947, 12.1947, 12.1947, 12.1947, 12.1947;
}

header .svg-animation svg .st1 {
  stroke-linecap: square;
  stroke-dasharray: 140;
}

header .svg-animation svg .st2 {
  stroke-width: 16;
  stroke-linecap: square;
}

header .svg-animation .svg-img-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 52vh;
  transform: translate(-50%, -50%);
}

header .svg-animation .svg-img-container img {
  border-radius: 250px;
}

/* Skill Container Styling */
header .skill-container {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 7;
  width: 80vh;
  height: 80vh;
  border-radius: 1000px;
}

header .skill-container::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 5px solid #dcdcdc;
  border-radius: 50%;
  mask: conic-gradient(
    transparent 0deg 15deg,
    #dcdcdc 15deg 80deg,
    transparent 80deg 105deg,
    #dcdcdc 105deg 170deg,
    transparent 170deg 190deg,
    #dcdcdc 190deg 260deg,
    transparent 260deg 285deg,
    #dcdcdc 285deg 350deg,
    transparent 350deg 360deg
  );
  -webkit-mask: conic-gradient(
    transparent 0deg 15deg,
    #dcdcdc 15deg 80deg,
    transparent 80deg 105deg,
    #dcdcdc 105deg 170deg,
    transparent 170deg 190deg,
    #dcdcdc 190deg 260deg,
    transparent 260deg 285deg,
    #dcdcdc 285deg 350deg,
    transparent 350deg 360deg
  );
  animation: ring 20s 5s infinite;
}

@keyframes ring {
  25% {
    transform: rotate(-90deg);
  }

  50% {
    transform: rotate(-180deg);
  }

  75% {
    transform: rotate(-270deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

header .skill-container .ring {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: ring-text 20s 5s infinite;
}

@keyframes ring-text {
  25% {
    transform: rotate(-90deg);
  }

  50% {
    transform: rotate(-180deg);
  }

  75% {
    transform: rotate(-270deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

header .skill-container .ring .skill {
  position: absolute;
  padding: 0.5em;
  text-align: center;
  width: max-content;
  background: transparent;
  color: #dcdcdc;
}

header .skill-container .ring .skill1 {
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
}

header .skill-container .ring .skill2 {
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

header .skill-container .ring .skill3 {
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%) rotate(180deg);
}

header .skill-container .ring .skill4 {
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(270deg);
}

/* Header Content Styling */
header .header-content {
  position: absolute;
  top: 0;
  left: 2%;
  z-index: 9;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #dcdcdc;
}

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

header .header-content h1 {
  display: flex;
  margin-bottom: 0.5em;
  width: 90%;
}
header .header-content .stylish-heading {
  font-family: "Caveat", cursive;
  font-weight: 10;
}

@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");

header .header-content h1 .stylish-font {
  margin-left: 20px;
  font-family: "Bungee Shade", sans-serif;
  font-size: 3rem;
  display: inline;
  font-weight: 100;
}

header .header-content .paragraph {
  margin-bottom: 1em;
  width: 90%;
  color: #dcdcdc;
}

header .header-content .icon-container {
  margin-bottom: 3em;
  width: 90%;
  color: #dcdcdc;
}

header .header-content .btn-container {
  display: flex;
  column-gap: 4em;
  width: 90%;
}

@media (max-width: 1300px) and (orientation: landscape) {
  header .svg-animation .svg-img-container {
    height: 42%;
  }

  header .skill-container {
    left: 70%;
    width: 60vh;
    height: 60vh;
  }
}

@media (max-width: 850px) and (orientation: portrait) {
  header .header-design {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    z-index: 8;
  }

  header .header-design .shape {
    width: 100%;
    height: 15%;
    background: rgba(0, 163, 133, 0.6);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    animation: header-design-animation 2s forwards;
  }

  @keyframes header-design-animation {
    0% {
      clip-path: polygon(0 0, 30% 0, 50% 40%, 70% 0, 100% 0, 100% 100%, 0 100%);
    }
    100% {
      clip-path: polygon(0 0, 0 0, 50% 100%, 100% 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  header .svg-animation {
    width: 100%;
    height: 45%;
  }

  header .svg-animation svg .st0,
  header .svg-animation svg .st1,
  header .svg-animation svg .st2 {
    stroke: #00a384;
  }

  header .svg-animation .svg-img-container {
    width: 35%;
    height: 35vw;
  }

  header .skill-container {
    top: 128%;
    left: 50%;
    width: 100vw;
    height: 100vw;
  }

  header .skill-container::before {
    mask: conic-gradient(
      transparent 0deg 12deg,
      #dcdcdc 12deg 70deg,
      transparent 70deg 110deg,
      #dcdcdc 110deg 160deg,
      transparent 160deg 200deg,
      #dcdcdc 200deg 254deg,
      transparent 254deg 285deg,
      #dcdcdc 285deg 346deg,
      transparent 346deg 360deg
    );
    -webkit-mask: conic-gradient(
      transparent 0deg 12deg,
      #dcdcdc 12deg 70deg,
      transparent 70deg 110deg,
      #dcdcdc 110deg 160deg,
      transparent 160deg 200deg,
      #dcdcdc 200deg 254deg,
      transparent 254deg 285deg,
      #dcdcdc 285deg 346deg,
      transparent 346deg 360deg
    );
  }

  header .skill-container .ring .skill1 {
    transform: translate(-50%, -50%) rotate(270deg);
  }

  header .skill-container .ring .skill2 {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  header .skill-container .ring .skill3 {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  header .skill-container .ring .skill4 {
    transform: translate(-50%, -50%) rotate(180deg);
  }

  header .header-content {
    width: 100%;
    height: 45%;
    left: 0;
    top: 40%;
    align-items: center;
  }

  header .header-content h1 {
    display: block;
    margin-bottom: 0em;
    width: 100%;
  }
  header .header-content .stylish-heading {
    text-align: center;
  }

  header .header-content h1 .stylish-font {
    width: 100%;
    margin-left: 0;
    text-align: center;
    display: block;
  }

  header .header-content .paragraph {
    margin-bottom: 0em;
    margin-top: 0.6em;
    text-align: center;
  }

  header .header-content .icon-container {
    margin-bottom: 1em;
    width: 100%;
  }

  header .header-content .btn-container {
    justify-content: center;
    column-gap: 2em;
    width: 100%;
  }
}

@media (max-width: 960px) and (orientation: landscape) {
  header {
    border: 8px double #00a384;
  }

  header .svg-animation .svg-img-container {
    width: 42%;
    height: 52vh;
  }

  header .skill-container {
    left: 65%;
  }

  header .skill-container::before {
    border: 2px solid #dcdcdc;
  }
}

@media (max-width: 450px) and (orientation: portrait) {
  header {
    border: 10px double #00a384;
  }

  header .header-design .shape {
    height: 8%;
  }

  header .svg-animation {
    margin-top: 5%;
    height: 38%;
  }

  header .svg-animation .svg-img-container {
    width: 40%;
    height: 40vw;
  }

  header .header-content {
    height: 45%;
    top: 40%;
  }

  header .header-content .paragraph {
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
  }

  header .header-content .icon-container {
    margin-bottom: 5em;
    width: 100%;
  }

  header .header-content .btn-container {
    column-gap: 5em;
  }

  header .skill-container {
    top: 118%;
    width: 100vw;
    height: 100vw;
  }

  header .skill-container::before {
    border: 3px solid #dcdcdc;
  }
}

@media (max-width: 320px) and (orientation: portrait) {
  header {
    border: 5px double #00a384;
  }

  header .svg-animation {
    height: 40%;
  }

  header .svg-animation .svg-img-container {
    width: 33%;
    height: 33vw;
  }

  header .header-content .icon-container {
    margin-bottom: 10em;
  }

  header .skill-container {
    top: 125%;
    width: 100vw;
    height: 100vw;
  }

  header .skill-container::before {
    border: 3px solid #dcdcdc;
  }
}
