/* Header Styling */
header {
  width: 100%;
  height: 100vh;
  background: #060121;
  position: relative;
  overflow: hidden;
  border: 15px double #00a384;
}
/* Header Gradient Styling */
header .header-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background: #060121;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(6, 1, 33, 0.4);
  z-index: 8;
}

/* Header Design Styling */
header .header-design {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 10;
}

header .header-design .shape {
  width: 100%;
  height: 100%;
  background: rgba(0, 163, 133, 0.6);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  animation: header-design-animation 2s forwards;
}

@keyframes header-design-animation {
  from {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 50%, 0 0);
  }

  to {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 20% 50%, 0 0);
  }
}

/* Svg Animation Styling */
header .svg-animation {
  position: absolute;
  /* top: 5%; */
  /* right: 0; */
  /* transform: translate(-50%, -50%); */
  /* width: 100%; */
  /* height: 20%; */
  top: 0;
  right: 0;
  width: 85%;
  height: 100%;
  z-index: 10;
}

header .svg-animation svg {
  position: relative;
  float: right;
  width: 100%;
  padding-top: 40px;
  height: 100%;
}

header .svg-animation svg .st0,
header .svg-animation svg .st1,
header .svg-animation svg .st2 {
  fill: none;
  stroke: #060121;
  stroke-width: 42;
  stroke-miterlimit: 10;
}

header .svg-animation svg .st0 {
  stroke-dasharray: 12.1947, 12.1947, 12.1947, 12.1947, 12.1947, 12.1947;
}

header .svg-animation svg .st1 {
  stroke-linecap: square;
  stroke-dasharray: 140;
}

header .svg-animation svg .st2 {
  stroke-width: 16;
  stroke-linecap: square;
}

header .svg-animation .svg-img-container {
  position: absolute;
  top: 53%;
  left: 50%;
  width: 49%;
  height: auto;
  transform: translate(-50%, -50%);
}

header .svg-animation .svg-img-container img {
  border-radius: 250px;
}

/* Skill Container Styling */
header .skill-container {
  position: absolute;
  top: 50%;
  left: 68%;
  transform: translate(-50%, -50%);
  z-index: 9;
  width: 40vw;
  height: 40vw;
  max-width: 400px;
  max-height: 400px;
  min-width: 250px;
  min-height: 250px;
  /* border: 5px solid white; */
  border-radius: 1000px;
}

header .skill-container::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 5px solid white;
  border-radius: 50%;
  mask: conic-gradient(
    transparent 0deg 15deg,
    white 15deg 80deg,
    transparent 80deg 105deg,
    white 105deg 170deg,
    transparent 170deg 190deg,
    white 190deg 260deg,
    transparent 260deg 285deg,
    white 285deg 350deg,
    transparent 350deg 360deg
  );
  -webkit-mask: conic-gradient(
    transparent 0deg 15deg,
    white 15deg 80deg,
    transparent 80deg 105deg,
    white 105deg 170deg,
    transparent 170deg 190deg,
    white 190deg 260deg,
    transparent 260deg 285deg,
    white 285deg 350deg,
    transparent 350deg 360deg
  );
  animation: ring 20s 5s infinite;
}

@keyframes ring {
  25% {
    transform: rotate(-90deg);
  }

  50% {
    transform: rotate(-180deg);
  }

  75% {
    transform: rotate(-270deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

header .skill-container .ring {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: ring-text 20s 5s infinite;
}

@keyframes ring-text {
  25% {
    transform: rotate(-90deg);
  }

  50% {
    transform: rotate(-180deg);
  }

  75% {
    transform: rotate(-270deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

header .skill-container .ring .skill {
  position: absolute;
  padding: 0.5em;
  text-align: center;
  width: max-content;
  background: transparent;
  color: white;
}

header .skill-container .ring .skill1 {
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
}

header .skill-container .ring .skill2 {
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

header .skill-container .ring .skill3 {
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%) rotate(180deg);
}

header .skill-container .ring .skill4 {
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(270deg);
}

/* Header Content Styling */
header .header-content {
  position: relative;
  z-index: 10;
  width: 50%;
  height: 87%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  color: white;
}

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

header .header-content h1 {
  font-family: "Caveat", cursive;
  margin-bottom: 1rem;
  font-weight: 10;
  display: flex;
}

@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");

header .header-content h1 i {
  margin-left: 10px;
  font-family: "Bungee Shade", sans-serif;
  font-size: 3rem;
  display: inline;
  /* border: 2px solid red; */
}

header .header-content p {
  margin-bottom: 1.5rem;
}

header .header-content button {
  background: #00a384;
  border: none;
  color: white;
  padding: 12px 28px;
  border-radius: 8px;
  cursor: pointer;
}
