.desktop-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  max-width: 95%;
  margin: 0 auto;
}

.desktop-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2em;
  width: 22vw;
  border-radius: 30px;
  background: #00a384;
  height: 20vw;
}

.desktop-list-item.round {
  position: relative;
  bottom: 0.1em;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
}

.carousel-container {
  position: relative;
  padding: 16px;
  border-radius: 30px;
  overflow: hidden;
  --outer-r: 24px;
  --p-distance: 12px;
}

.carousel-track {
  display: flex;
}

.carousel-item {
  position: relative;
  display: flex;
  flex-shrink: 0;
  width: 280px;
  flex-direction: column;
  row-gap: 3em;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background: #00a384;
  height: 26vw;
  cursor: grab;
}

.carousel-item:active {
  cursor: grabbing;
}

.carousel-item.round {
  position: relative;
  bottom: 0.1em;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel-item-header.round {
  padding: 0;
  margin: 0;
}

.carousel-indicators-container.round {
  position: absolute;
  z-index: 2;
  bottom: 3em;
  left: 50%;
  transform: translateX(-50%);
}

.carousel-indicator.active {
  background-color: #333333;
}

.carousel-indicator.inactive {
  background-color: rgba(51, 51, 51, 0.4);
}

.carousel-icon-container {
  display: flex;
  height: 6vw;
  width: 6vw;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.carousel-icon {
  font-size: 5rem;
}

.carousel-item-title {
  margin-bottom: 4px;
  font-weight: 900;
  text-align: center;
}

.carousel-indicators-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.carousel-indicators {
  margin-top: 16px;
  display: flex;
  width: 150px;
  justify-content: space-between;
  padding: 0 32px;
}

.carousel-indicator {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 150ms;
}

.carousel-indicator.active {
  background-color: #fff;
}

.carousel-indicator.inactive {
  background-color: #555;
}

@media (max-width: 1300px) and (orientation: landscape) {
  .desktop-list-item {
    width: 20vw;
  }
}

@media (max-width: 850px) and (orientation: portrait) {
  .carousel-item {
    width: 400px;
    height: 50vw;
  }
  /* .carousel-icon-container {
    height: 90px;
    width: 90px;
  } */
  .carousel-icon-container {
    height: 10vh;
    width: 10vh;
  }
}

@media (max-width: 450px) and (orientation: portrait) {
  .carousel-item {
    width: 250px;
    height: 60vw;
  }
  /* .carousel-icon-container {
    height: 60px;
    width: 60px;
  } */
}

@media (max-width: 570px) and (orientation: landscape) {
  .desktop-list-item {
    width: 110px;
  }

  /* .carousel-icon-container {
    height: 40px;
    width: 40px;
  } */
}

@media (max-width: 320px) and (orientation: portrait) {
  .carousel-item {
    width: 200px;
    height: 55vw;
  }
}
