@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.themed-text {
  color: var(--text-color);
  transition: color 2s ease;
}
.themed-bg {
  background-color: var(--bg-color);
  transition: background-color 2s ease;
}

.themed-border {
  border: 2px solid var(--border-color);
  transition: background-color 2s ease;
}

html[data-bs-theme="dark"] {
  --text-color: #fff;
  --bg-color: #060121;
  --border-color: #fff;
}

html[data-bs-theme="light"] {
  --text-color: #060121;
  --bg-color: #fff;
  --border-color: #060121;
}

html[data-bs-theme="dark"] .text-light {
  color: #fff;
}
html[data-bs-theme="dark"] .text-dark {
  color: #060121;
}

html[data-bs-theme="light"] .text-light {
  color: #fff;
}
html[data-bs-theme="light"] .text-dark {
  color: #060121;
}

.text-light {
  color: #fff;
}

.text-dark {
  color: #060121;
}

.bg-light {
  background-color: #fff;
  color: #060121;
}

.bg-dark {
  background-color: #060121;
  color: #fff;
}

.sm-text {
  font-size: 1rem;
}

.normal-text {
  font-size: 1.5rem;
}

.lg-text {
  font-size: 1.8rem;
}

.sm-heading {
  font-size: 2.5rem;
}

.normal-heading {
  font-size: 3rem;
}

.lg-heading {
  font-size: 4rem;
}

.container {
  height: 100%;
  max-width: 95%;
  margin: auto;
}

img {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  border: 15px double #00a384;
}

@media (max-width: 960px) and (orientation: landscape) {
  header {
    border: 8px double #00a384;
  }
}

@media (max-width: 450px) and (orientation: portrait) {
  header {
    border: 10px double #00a384;
  }
}
@media (max-width: 320px) and (orientation: portrait) {
  header {
    border: 5px double #00a384;
  }
}

.about {
  position: relative;
  width: 100%;
  height: 100vh;
}

.highlights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.client-reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1300px) and (orientation: landscape) {
  html,
  body {
    font-size: 48%;
  }
}

@media (max-width: 850px) and (orientation: portrait) {
  html,
  body {
    font-size: 80%;
  }
}

@media (max-width: 960px) and (orientation: landscape) {
  html,
  body {
    font-size: 30%;
  }
}

@media (max-width: 450px) and (orientation: portrait) {
  html,
  body {
    font-size: 50%;
  }
}

@media (max-width: 600px) and (orientation: landscape) {
  html,
  body {
    font-size: 25%;
  }
}

@media (max-width: 320px) and (orientation: portrait) {
  html,
  body {
    font-size: 30%;
  }
}
